.cards_wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 0 0 24px 0;
    gap: 24px;
    max-width: 360px;
    justify-content: space-between;
    background-color: var(--card-bg);
}


.card:hover {
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.menu {
    width: 100%;
    display: flex;
    gap: 8px;
    position: relative;
    justify-content: center;
    padding: 48px 0;
}

.arrow_left,
.arrow_right {
    width: 38px;
    height: 38px;
    background-color: var(--card-bg);
}