.card {
    display: flex;
    max-height: 600px;
    gap: 48px;
}

.card__image {
    max-width: 100%;
    object-fit: contain;
}

.cardTitle_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_button {
    display: flex;
    gap: 48px;
}

.card_button {
    color: var(--text-primary);
    background-color: var(--button-primary-text);
    border: 1px solid var(--text-primary);
}