@import "styles/styles";

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__link {
        display: block;
        background-color: transparent;
        color: $text-primary;
        padding: 5px 10px;

        &_active {
            background-color: $brand;
            color: $card-bg;
        }
    }
}